<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="home.css" />
    <%- include('fragments/head'); -%>
  </head>
  <body>
    <header><%- include('fragments/navbar'); -%></header>
    <main>
        <p class="theme">ByteHub</p>
    </main>
    <footer>
      <div class="copyright">
        <p>&copy 2020 ByteHub. All Rights Reserved</p>
      </div>
      <div class="social">
        <a href="#" class="support">Contact Us</a>
      </div>
    </footer>
    
  </body>
</html>