<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="home.css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Baloo 2" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Monoton" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Mulish" />
    <%- include('fragments/head'); -%>
  </head>
  <body>
    <header><%- include('fragments/navbar'); -%></header>
    <main>
      <div id="lform" class="main">
        <p class="label"> Welcome to</p>
        <p class="title" >Byte<br><em>Hub</em></p>
        <p class="subscript">&copy 2020 ByteHub. All Rights Reserved</p>
        <p class="subscript"><a href="#" class="support">Contact Us</a></p>
      </div>
    </main>
    
  </body>
</html>