<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('fragments/head'); -%>
  </head>
  <body>
    <header><%- include('fragments/navbar'); -%></header>
    <main>
        <button id="addev" onClick="addEvents()" class="add">+</button>
        <div id = "events"></div>
    </main>
  </body>
</html>