<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('fragments/head'); -%>
  </head>
  <body>
    <header><%- include('fragments/navbar'); -%></header>
    <main>
      
        <ul class="nav1">
          <li><button id="addev" onClick="addEvents()" class="add">+</button></li>
          <li><button onclick="incarcaPoza()" class="btn">Incarca</button></li>
          <li><button onclick="getPhotos()" class="btn">Get items</button></li>
          <li><input type="file" id="up" class="btn"></li>
        </ul>
        <div id = "events"></div>
    </main>
  </body>
</html>