<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('fragments/head'); -%>
    <link rel="stylesheet" type="text/css" href="login.css" />
    <script type="text/javascript" src="login.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <a href="#">
          <img src="../../logo.jpg" class="Logo">
        </a>
        <ul class="nav">
          <li><a href="/">Home</a></li>
          <li><a href="signin">Sign Up</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div id="lform">
        <p class="center">Log in</p>
        <input type="text" name="name" placeholder="Nume" class="centerSelf">
        <p class="center">Parola</p>
        <input type="password" name="password" placeholder="Parola" class="centerSelf">
        <!--<button id="log" onclick="login()" class="centerSelf">Submit</button>-->
        <form action="/">
          <input type="submit" value="Login" class="centerSelf"/>
        </form>
        <!--<button id="log"  class="centerSelf">Submit</button>-->
      </div>
    </main>
    <footer>
      <div class="copyright">
        <p>&copy 2020 ByteHub. All Rights Reserved</p>
      </div>
      <div class="social">
        <a href="#" class="support">Contact Us</a>
      </div>
    </footer>
  </body>
</html>