<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('fragments/head'); -%>
    <link rel="stylesheet" type="text/css" href="login.css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Baloo 2" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Monoton" />
    <script type="text/javascript" src="login.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">
          <img src="../../logo.jpg" class="Logo">
        </a>
        <ul class="nav">
          <li class="signup"><a href="signin">Sign Up</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div id="lform" class="main">
        <p class="title">Byte<br><em>Hub</em></p>
        <p class="label">Nume:</p>
        <input type="text" name="name" placeholder="Nume" class="field">
        <p class="label">Parola:</p>
        <input type="password" name="password" placeholder="Parola" class="field">
        <form action="/index">
          <input type="submit" value="Login" class="submit"/>
        </form>
      </div>
    </main>
  </body>
</html>