<nav>
  <a href="#">
    <img src="../../logo.jpg" class="Logo">
  </a>
  <ul class="nav">
    <!--<button>🞬</button>-->
    <li><a href="login">Login</a></li>
    <li><a href="signin">Sign Up</a></li>
  </ul>
</nav>
  