<nav>
  <a href="#">
    <img src="../../logo.jpg" class="Logo">
  </a>
  <ul class="nav">
    <li class="signup"><a href="signin">Sign Up</a></li>
    <li style="float:right"><a href="login">Login</a></li>
    <li><a href="#">Option 0.5</a></li>
    <li><a href="#">Option1</a></li>
  </ul>
</nav>
  