<nav>
  <a href="#">
    <img src="../../logo.jpg" class="Logo">
  </a>
  <ul class="nav">
    <button>🞬</button>
    <li><a href="#">Login</a></li>
    <li><a href="#">Sign Up</a></li>
  </ul>
</nav>
  