<div id="todolist" class="note">
    <h><%= column.name %></h>
    <% for (var i = 0; i < column.cards.length; i++){ %>
    <div id="todolist" class="note">
        <p> column.cards[i].description</p>
    </div>
    <% } %>
</div>