body {
  margin: 0;
  padding: 0;
}

#addev {
  display: block;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: aqua;
  text-align: center;
}

header {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  background-color: aqua;
  max-height: 8vh;
}

main {
  margin-top: 10vh;
  background-image: url("../mainbg.jpg");
  background-size: cover;
  padding: 0 0 5vh 0;
  height: 85vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

main::-webkit-scrollbar {
  display: none;
}

div.note {
  display: inline-block;
  width: 17vw;
  height: 17vh;
  border-radius: 25px;
  background-color: white;
  color: black;
  padding: 25px;
  margin: 0 2vw 5vh 2vw;
  box-shadow: 1vh 1vh 5vh 0vh;
  text-indent: 1.5vw;
  overflow: scroll;
  scrollbar-width: none;
  
}

div.note::-webkit-scrollbar {
  display: none;
}

div.note h {
  font-family: "Mulish";
  font-weight: bolder;
  font-size: 2.5vh;
}

div.note p {
  font-family: "Mulish";
  font-size: 1,75vh;
}

button.add {
  display: inline-block;
  background-color: rgb(38, 127, 231);
  border-radius: 50%;
  border: 3px solid white;
  padding-top: 2,5vh;
  height: 5vh;
  width: 5vh;
  color: white;
  font-family: "Mulish";
  font-weight: bold;
  font-size: large;
  outline: none;
  margin-bottom: 3vh;
}

button.btn {
  display: inline-block;
  background-color: rgb(38, 127, 231);
  border-radius: 50px;
  border: 3px solid white;
  padding-top: 2,5vh;
  height: 5vh;
  width: 20vh;
  color: white;
  font-family: "Mulish";
  font-weight: bold;
  font-size: large;
  outline: none;
  margin-bottom: 3vh;
}


ul.nav1 {
  list-style-type: none;
  margin: 0px;
  padding-top: 2vh;
  min-height: 5vh;
  overflow: hidden;
  font-family: "Mulish";
  font-weight: 1000;
  font-size: 2vh;
}

ul.nav1 li {
  float: left;
  padding-right: 15px;
}
