nav {
  background-color: white;
  height: 10vh;
  box-shadow: 0px 0px 4vh 0px;
}

.Logo {
  font-size: 1.5em;
  font-family: 'Mulish';
  position: relative;
  float: left;
  max-height: 10vh;
  border-radius: 0px 20px 20px 0px;
  transition: all 0.3s ease-out;
}

.Logo:hover {
  filter: invert(100);
  transition: all 0.3s ease-out;
}



button {
  cursor: pointer;
  display: none;

  /*this put the button on the left*/
  align-self: flex-start;
}

@media only screen and (max-width: 780px) {
  ul {
    flex-direction: column;
  }

  li {
    margin: 0;
  }

  a {
    display: block;
  }

  button {
    display: block;

    padding: 2vw;
    font-size: 3vh;
    background-color: silver;
    border: none;

    outline: none;

    cursor: pointer;
    align-self: flex-start;
  }
}

ul.nav {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  min-height: 10vh;
  overflow: hidden;
  font-family: "Mulish";
  font-weight: 1000;
  font-size: 2vh;
}

ul.nav li {
  float: left;
  transition: 0.3s;
}

ul.nav li.signup{
  float:right;
  background-color: rgb(35, 31, 32);
  border-radius: 20px 0 0 20px;
  min-height: 10vh;
  transition: 0.3s;
}

ul.nav li.signup:hover{
  background-color: rgb(55,51,52);
  border-radius: 20px 0 0 20px;
  transition: 0.3s;
}

ul.nav li a {
  display: inline-block;
  color: rgb(52, 131, 235);
  text-align: center;
  padding: 4vh 25px 3.55vh 25px;
  text-decoration: none;
  transition: 0.3s;
}

ul.nav li:hover{
  background-color: aqua;
  border-radius: 20px;
  padding: 0 15px 0 15px;
  transition: 0.3s;
}

ul.nav a:hover{
  color: white;
  transition: 0.3s;
}
